{% extends "instagram/layout.html" %}
{% load bootstrap4 %}
Instagram / Post List
{% block title %}
Instagram / Post List
{% endblock title %}
{% block content %}
<form action="" method="get">
    <input type="type" name="q" value="{{q}}"/>
    <input type="submit" value="검색"/>
</form>

<a href="{% url 'instagram:post_new' %}" class="btn btn-dark col-12 mt-2 mb-2">새 포스트</a>

<table class="table table-bordered ">
    <tbody>
    {% for post in post_list %}
    <tr>
        <td>
            {{ post.pk }}
        </td>
        <td>

            {% if post.photo %}
            <img src="{{ post.photo.url }}" style="width: 100px;"/>
            {% else %}
            No Photo
            {% endif %}
        </td>
        <td>
            <a href="{{ post.get_absolute_url }}">
                {{ post.message }}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% if is_paginated %}
{% bootstrap_pagination page_obj size="large" justify_content="center" %}
{% endif %}


{% endblock content %}



